id = "HydroUnit"
icon = "lucide/dam.svg"
label.en = "Hydro Unit"

[[card]]
query = """
SELECT 
    CASE
        WHEN inflow_scenarios_files = 1 THEN 'Ex Ante Scenarios'
        WHEN inflow_scenarios_files = 2 THEN 'Ex Post Scenarios'
        WHEN inflow_scenarios_files = 3 THEN 'Ex Ante and Ex Post'
        ELSE 'No Scenarios'
    END AS inflow_scenario_type
FROM Configuration;
"""
type = "string"

[[card]]
query = """
WITH ranked_rows AS (
    SELECT *, ROW_NUMBER() OVER (PARTITION BY id ORDER BY date_time DESC) AS row_num
    FROM HydroUnit_time_series_parameters
    WHERE date_time < (SELECT initial_date_time FROM Configuration LIMIT 1)
)
SELECT COUNT(*)
FROM ranked_rows
WHERE row_num = 1 AND existing = 1;
"""
type = "integer"
label.en = "Existing Elements"
unit = "unit(s)"

[[card]]
query = """
WITH ranked_rows AS (
    SELECT *, ROW_NUMBER() OVER (PARTITION BY id ORDER BY date_time DESC) AS row_num
    FROM HydroUnit_time_series_parameters
    WHERE date_time < (SELECT initial_date_time FROM Configuration LIMIT 1)
)
SELECT SUM(max_generation) AS total_generation
FROM ranked_rows
WHERE row_num = 1 AND existing = 1;
"""
type = "double"
format = "{:.1f}"
label.en = "Total Capacity"
unit = "MW"

[[card]]
query = "SELECT COUNT(*) FROM HydroUnit_time_series_parameters"
type = "integer"
label.en = "Temporal Entries"
unit.en = "record(s)"

[[attribute]]
id = "label"
label.en = "Label"
tooltip.en = "Label of the hydro unit"

[[attribute]]
id = "initial_volume"
label.en = "Initial Volume"
tooltip.en = "Initial volume of the hydro unit"
hide = true

[[attribute]]
id = "initial_volume_type"
type = "enum"
enum = "initial_volume_type"
label.en = "Initial Volume Type"
tooltip.en = "Initial volume type of the hydro unit"
hide = true

[[attribute]]
id = "has_commitment"
type = "enum"
enum = "has_commitment"
label.en = "Has Commitment"
tooltip.en = "Has commitment of the hydro unit"

[[attribute]]
id = "intra_period_operation"
type = "enum"
enum = "intra_period_operation"
label.en = "Operation Type"
tooltip.en = "Operation type of the hydro unit"
hide = true

[[attribute]]
id = "bus_id"
label.en = "Bus"
tooltip.en = "Bus of the hydro unit"

[[attribute]]
id = "biddinggroup_id"
label.en = "Bidding Group"
tooltip.en = "Bidding group of the hydro unit"

[[attribute]]
id = "gaugingstation_id"
label.en = "Gauging Station"
tooltip.en = "Gauging station of the hydro unit"
hide = true

[[attribute]]
id = "hydrounit_turbine_to"
label.en = "Turbine To"
tooltip.en = "Turbine to of the hydro unit"

[[attribute]]
id = "hydrounit_spill_to"
label.en = "Spill To"
tooltip.en = "Spill to of the hydro unit"
hide = true

[[attribute_group]]
id = "waveguide"
label.en = "Tiebreaker Curve"
icon = "lucide/settings-2.svg"

[[attribute]]
id = "waveguide_volume"
label.en = "Tiebreaker Curve Values"
tooltip.en = "Tiebreaker curve values of the virtual reservoir"
unit = "GWh"

[[attribute_group]]
id = "parameters"
label.en = "Parameters"
icon = "lucide/settings-2.svg"

[[attribute]]
id = "date_time"
label.en = "Date Time"
tooltip.en = "Date time of the hydro unit"
unit = "yyyy-MM-dd HH:mm"

[[attribute]]
id = "existing"
type = "enum"
enum = "existing"
label.en = "Existing"
tooltip.en = "Existing of the hydro unit"

[[attribute]]
id = "production_factor"
label.en = "Production Factor"
tooltip.en = "Production factor of the hydro unit"
unit = "MW/m³/s"

[[attribute]]
id = "min_generation"
label.en = "Min Generation"
tooltip.en = "Min generation of the hydro unit"
unit = "MW"

[[attribute]]
id = "max_generation"
label.en = "Max Generation"
tooltip.en = "Max generation of the hydro unit"
unit = "MW"

[[attribute]]
id = "max_turbining"
label.en = "Max Turbining"
tooltip.en = "Max turbining of the hydro unit"
unit = "m³/s"

[[attribute]]
id = "min_volume"
label.en = "Min Volume"
tooltip.en = "Min volume of the hydro unit"
unit = "hm³"

[[attribute]]
id = "max_volume"
label.en = "Max Volume"
tooltip.en = "Max volume of the hydro unit"
unit = "hm³"

[[attribute]]
id = "min_outflow"
label.en = "Min Outflow"
tooltip.en = "Min outflow of the hydro unit"
unit = "m³/s"

[[attribute]]
id = "om_cost"
label.en = "O&M Cost"
tooltip.en = "O&M cost of the hydro unit"
unit = "$/MWh"

[[attribute]]
id = "inflow_ex_ante"
label.en = "Inflow Ex Ante"
tooltip.en = "Inflow data for the model in ex-ante"
unit = "m³/s"
hide = true

[[attribute]]
id = "inflow_ex_post"
label.en = "Inflow Ex Post"
tooltip.en = "Inflow data for the model in ex-post"
unit = "m³/s"
hide = true
